//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package azquery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// MonitorMetricsClient contains the methods for the MonitorMetrics group.
// Don't use this type directly, use a constructor function instead.
type MonitorMetricsClient struct {
	internal *azcore.Client
	endpoint string
}

// QueryBatch - Lists the metric values for multiple resources.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - subscriptionID - The subscription identifier for the resources in this batch.
//   - metricNamespace - Metric namespace that contains the requested metric names.
//   - metricNames - The names of the metrics (comma separated) to retrieve.
//   - resourceIDs - The comma separated list of resource IDs to query metrics for.
//   - options - MonitorMetricsClientQueryBatchOptions contains the optional parameters for the MonitorMetricsClient.QueryBatch
//     method.
func (client *MonitorMetricsClient) QueryBatch(ctx context.Context, subscriptionID string, metricNamespace string, metricNames []string, resourceIDs ResourceIDList, options *MonitorMetricsClientQueryBatchOptions) (MonitorMetricsClientQueryBatchResponse, error) {
	req, err := client.queryBatchCreateRequest(ctx, subscriptionID, metricNamespace, metricNames, resourceIDs, options)
	if err != nil {
		return MonitorMetricsClientQueryBatchResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MonitorMetricsClientQueryBatchResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MonitorMetricsClientQueryBatchResponse{}, runtime.NewResponseError(resp)
	}
	return client.queryBatchHandleResponse(resp)
}

// queryBatchCreateRequest creates the QueryBatch request.
func (client *MonitorMetricsClient) queryBatchCreateRequest(ctx context.Context, subscriptionID string, metricNamespace string, metricNames []string, resourceIDs ResourceIDList, options *MonitorMetricsClientQueryBatchOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/metrics:getBatch"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Starttime != nil {
		reqQP.Set("starttime", *options.Starttime)
	}
	if options != nil && options.Endtime != nil {
		reqQP.Set("endtime", *options.Endtime)
	}
	if options != nil && options.Interval != nil {
		reqQP.Set("interval", *options.Interval)
	}
	reqQP.Set("metricnamespace", metricNamespace)
	reqQP.Set("metricnames", strings.Join(metricNames, ","))
	if options != nil && options.Aggregation != nil {
		reqQP.Set("aggregation", aggregationTypeToString(options.Aggregation))
	}
	if options != nil && options.Top != nil {
		reqQP.Set("top", strconv.FormatInt(int64(*options.Top), 10))
	}
	if options != nil && options.OrderBy != nil {
		reqQP.Set("orderby", *options.OrderBy)
	}
	if options != nil && options.Filter != nil {
		reqQP.Set("filter", *options.Filter)
	}
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, resourceIDs)
}

// queryBatchHandleResponse handles the QueryBatch response.
func (client *MonitorMetricsClient) queryBatchHandleResponse(resp *http.Response) (MonitorMetricsClientQueryBatchResponse, error) {
	result := MonitorMetricsClientQueryBatchResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MetricResultsResponse); err != nil {
		return MonitorMetricsClientQueryBatchResponse{}, err
	}
	return result, nil
}
